main{
    background-color: rgb(66, 68, 65);
    width: 20vw;
    border-radius: 10%;
    button{
        width: 7vw;
        border-radius: 25%;
        border: none;
        background-color: rgb(116, 92, 121);
        color: bisque;
    }   
    p{
        color: cadetblue;
       font-weight: bold;
        font-size: large;
    } 
}